<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
    html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
}

table {
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
</style>
<div class="container">
	<center><table>
		<thead>
			<tr>
				<th>complainant_name</th>
				<th>complainant_fa_or_hu</th>
				<th>complainant_address</th>
				<th>Occupation</th>
				<th>Email</th>
				<th>Phone</th>
				<th>DOB</th>
				<th>Nation</th>
				<th>Aadhar</th>
				<th>Passport</th>
				<th>DL</th>
				<th>Crime type</th>
				<th>Location</th>
				<th>Nearest Police Station</th>
			</tr>
		</thead>
		<tbody>
            {% for item in query %}
			<tr>
				<td>{{item.complainant_name}}</td>
				<td>{{item.complainant_fa_or_hu}}</td>
				<td>{{item.complainant_address}}</td>
				<td>{{item.complainant_prof}}</td>
				<td>{{item.complainant_email}}</td>
				<td>{{item.complainant_phone}}</td>
				<td>{{item.complainant_dob}}</td>
				<td>{{item.complainant_nation}}</td>
				<td>{{item.complainant_aadhar}}</td>
				<td>{{item.complainant_passport}}</td>
				<td>{{item.complainant_dl}}</td>
				<td>{{item.crime_type}}</td>
				<td>{{item.location}}</td>
				<td>{{item.near_pstation}}</td>
			</tr>
            {% endfor %}
        </tbody>
    </table></center>
    <br><br>
    <center><a class="btn btn-primary" href="/crud/fir-db">Add Case</a></center>
</div>