<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">PLEASE FILL IN YOUR DETAILS</h3>
  <div style="margin:50px 50px 60px 50px "><form method="post">
    {% csrf_token %}
    {{ form }}
  </div>
    <center><input class="btn btn-outline-success" type="submit" value="Submit"/>
        <button class="btn btn-outline-primary" onclick="window.location='case-list'">Cases</button>
        <button class="btn btn-outline-danger" onclick="window.location='user-list'">List</button></center>
  </form>
</div>
    <br>
    <hr>
    <center><h2>{{message}}</h2></center>
    <br>

</body>
</html>