<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
    html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
</style>
<div class="container">
	<center><table>
		<thead>
			<tr>
				<th>Email</th>
				<th>Name</th>
				<th>Password</th>
				<th>Address</th>
				<th>Type</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
            {% for item in query %}
			<tr>
				<td>{{item.email}}</td>
				<td>{{item.name}}</td>
				<td>{{item.password}}</td>
				<td>{{item.address}}</td>
				<td>{{item.type}}</td>
				<td>{{item.phone}}</td>
			</tr>
            {% endfor %}
        </tbody>
    </table></center>
    <br><br>
    <center><a class="btn btn-primary" href="/crud/sign-up">Add User</a></center>
</div>